/handson-ml2/*.bak
/handson-ml2/*.bak.*
/handson-ml2/*.ckpt
/handson-ml2/*.old
/handson-ml2/*.pyc
/handson-ml2/.DS_Store
/handson-ml2.ipynb_checkpoints
/handson-ml2.vscode/
/handson-ml2/checkpoint
/handson-ml2/logs/*
/handson-ml2/tf_logs/*
/handson-ml2/images/**/*.png
/handson-ml2/images/**/*.dot
/handson-ml2/my_*
/handson-ml2/person.proto
/handson-ml2/person.desc
/handson-ml2/person_pb2.py
/handson-ml2/datasets/flowers
/handson-ml2/datasets/lifesat/lifesat.csv
/handson-ml2/datasets/spam
/handson-ml2/datasets/words
/handson-ml2/datasets/jsb_chorales

